* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-blue: #3952a6;
  --bg-secondary: #dee1e9;
  --secondary-font: #090f24;
}

body {
  background: url("./large-triangles.svg");
  height: 100vh;
  overflow: hidden;
}

.overview-title {
  padding: 7rem 4rem;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
}

@media screen and (min-width: 989px) {
  
  .overview-title {
    position: unset;
  }

  .sideBar-contents {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 60%;
  }
}


